// internal/assetManager/themes/defaultTheme/templates/plugins.templ

package templates

import (
    "knovault/internal/assetManager/themes/dark/templates/layout"
)

templ Plugins() {
    @layout.Base("Plugins") {
        <h1>HEEEELP again</h1>
    }
}