// internal/assetManager/themes/defaultTheme/templates/help.templ

package templates

import (
    "knovault/internal/assetManager/themes/defaultTheme/templates/layout"
)

templ Help() {
    @layout.Base("Help") {
        <h1>HEEEELP again</h1>
    }
}